<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>商品画面</title>
</head>
<body>
	<!--検索画面に戻る-->
	<button onclick="location.href='http://localhost:8080/form'">
		<img src="/img/title.jpg" alt="Button Image" style="height: 100%;">
	</button>
	<!--商品情報-->
	<form method="post" th:action="@{/merchandise}" th:object="${MerchandiseForm}">
		<div th:object="${sentity}">
			<ul style="list-style: none;">
				<!--商品名-->
				<li>商品名：<span th:text="*{merchandise}"></span></li>
				<!--メーカー-->
				<li>メーカー：<span th:text="*{maker}"></span></li>
				<!--金額-->
				<li>金額：<span th:text="*{price}"></span></li>
				<!--在庫-->
				<li>在庫：<span th:text="*{stock}"></span></li>
			</ul>
			<input type="hidden" name="merchandise" th:value="*{merchandise}"/>
			<input type="hidden" name="maker" th:value="*{maker}"/>
			<input type="hidden" name="price" th:value="*{price}"/>
			<!--購入数-->
			購入数：
			<select name="need">
				<option	th:each="i : *{#numbers.sequence(0,stock)}" th:value="${i}" th:text="${i}"></option>
			</select>
			 <input type="submit" value="カートに入れる">
		</div>
	</form>
	<ul style="list-style: none;" th:object="${mentity}">
		<!--商品画像-->
		<li><img th:src="*{mfilepath1}"/></li>
		<li><img th:src="*{mfilepath2}"/></li>
		<li><img th:src="*{mfilepath3}"/></li>
		<li><img th:src="*{mfilepath4}"/></li>
		<li><img th:src="*{mfilepath5}"/></li>
	</ul>	
</body>
</html>