<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>検索画面</title>
</head>
<body>
	<form method="get" th:action="@{/form}" th:object="${form}">
		<p><input type="text" name="serchbox" th:value="${form.serchbox}"></p>
		<select name="price" th:value=${form.price}>
			<option value="" th:selected="${form.price}==null">上限なし</option>
			<option value=300 th:selected="${form.price}==300">300</option>
			<option value=500 th:selected="${form.price}==500">500</option>
			<option value=1000 th:selected="${form.price}==1000">1000</option>
			<option value=1500 th:selected="${form.price}==1500">1500</option>
		</select>
		<select name ="tag" th:value="${form.tag}">
			<option value="" th:selected="${form.tag}==null">種別なし</option>
			<option value="肉" th:selected="${form.tag}==肉">肉類</option>
			<option value="魚" th:selected="${form.tag}==魚">魚介</option>
			<option value="カレー" th:selected="${form.tag}==カレー">カレー</option>
			<option value="スイーツ" th:selected="${form.tag}==スイーツ">スイーツ</option>
			<option value="つけもの" th:selected="${form.tag}==つけもの">漬け物</option>
		</select>
		<input type="submit" value="検索">
	</form>
	<table border="1">
		<thead>
			<tr>
				<th>商品</th>
				<th>商品名</th>
				<th>メーカー</th>
				<th>金額</th>
				<th>在庫</th>
			</tr>
		</thead>
		<!--商品表示-->
		<tbody>
			<tr th:each="e : ${entity}" th:object="${e}" >
		<!--		<a th:href="http://localhost/8080/merchandise${e.id}">-->
				<td><img th:src="*{filepath}"/></td>
				<td th:text="*{merchandise}"></td>
				<td th:text="*{maker}"></td>
				<td th:text="*{price}"></td>
				<td th:text="*{stock}"></td>
		<!--		</a>-->
			</tr>
		</tbody>
	</table>
</body>
</html>